<div class="content" role="main">

<div style="text-align:center">
  <h1> Live Transcript</h1>

  <div class="live-text">
    <strong>Current:</strong> {{ liveSentence }}
  </div>
  <h2>🎙️ Mic Sensitivity</h2>

  <div class="audio-bar-container">
    <div class="audio-bar" [style.width.%]="micVolume"></div>
  </div>


  <div class="transcript">
    <h3>Transcript</h3>
    <div class="entry" *ngFor="let item of transcript">
      <strong>{{ item.speaker }}</strong>
      <span class="timestamp"> [ {{ item.startTime }} → {{ item.endTime }}  ]</span> : {{ item.sentence }}
    </div>
  </div>
</div>


</div>



